.searchpro__field {
   width: 400px;
}

.searchpro__field .searchpro__field-container.js-searchpro__field-container--focus {
   border-color: #009999;
}

.searchpro__field .searchpro__field-container.js-searchpro__field-container--focus .searchpro__field-button-container .searchpro__field-button {
   background-color: #009999;
}

.searchpro__field .searchpro__field-category:hover,
.searchpro__field .searchpro__field-subcategory:hover,
.searchpro__dropdown .searchpro__dropdown-view-all-link:hover {
   color: #009999;
}

.searchpro__field .searchpro__field-subcategories-list .searchpro__field-subcategory:hover:before {
   background-image: url('data:image/svg+xml;charset=utf-8,<svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="2" cy="2" r="2" fill="%23ad0c10"></circle></svg>');
}

.searchpro__field .searchpro__field-container {
   border-color: #c6c6c6;
}

.searchpro__field .searchpro__field-button-container .searchpro__field-button {
   background-color: #c6c6c6;
}

.searchpro__field .searchpro__field-category,
.searchpro__field .searchpro__field-subcategory,
.searchpro__dropdown .searchpro__dropdown-group-title,
.searchpro__dropdown .searchpro__dropdown-entity_subname {
   color: #626262;
}