.multiform-theme3 .multiform-header {
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: normal;
   color: #000000;
}

.multiform-theme3 .multiform-title {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: bold;
   color: #000000;
}

.multiform-theme3 .multiform-form-description {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: normal;
   color: #000000;
}

.multiform-theme3 .multiform-gap-name {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: normal;
   color: #000000;
}

.multiform-theme3 .multiform-gap-value input[type="text"],
.multiform-theme3 .multiform-gap-value textarea,
.multiform-theme3 .multiform-gap-value input[type="email"],
.multiform-theme3 .multiform-gap-value select,
.multiform-theme3 .multiform-gap-value .multiform-formula span,
.multiform-theme3 .multiform-gap-value input[type="tel"],
.multiform-theme3 .multiform-gap-value input[type="file"] {
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: normal;
   color: #000000;
}

.multiform-theme3 .multiform-gap-description {
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: normal;
   color: #000000;
}

.multiform-theme3 .multiform-gap-value .prefix,
.multiform-theme3 .multiform-attachment-text.before,
.multiform-theme3 .multiform-gap-value .suffix,
.multiform-theme3 .multiform-attachment-text.after {
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: normal;
   color: #000000;
}

.multiform-wrap.multiform-theme3 .errormsg,
.multiform-theme3 .multiform-mask-error {
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   font-style: italic;
   font-weight: normal;
   ;
   font-style: italic;
   font-weight: normal;
   ;
   color: #ff0000;
}

.multiform-theme3 .mf-button {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: bold;
   color: #ffffff;
}

.multiform-theme3 .multiform-grid th {
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: bold;
   color: #000000;
}

.multiform-theme3 .multiform-grid thead td {
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: normal;
   color: #000000;
}

.multiform-theme3 .multiform-header {
   background-color: #eeeeee;
   background-image: none;
}

.multiform-wrap.multiform-theme3 {
   background-color: #ffffff;
   background-image: none;
}

.multiform-theme3 .multiform-gap-value input[type="text"],
.multiform-theme3 .multiform-gap-value textarea,
.multiform-theme3 .multiform-gap-value input[type="email"],
.multiform-theme3 .multiform-gap-value select,
.multiform-theme3 .multiform-gap-value .multiform-formula span,
.multiform-theme3 .multiform-gap-value input[type="tel"],
.multiform-theme3 .multiform-gap-value input[type="file"] {
   background-color: #ffffff;
}

.multiform-theme3 .multiform-gap-value input[type="text"]:focus,
.multiform-theme3 .multiform-gap-value textarea:focus,
.multiform-theme3 .multiform-gap-value input[type="email"]:focus,
.multiform-theme3 .multiform-gap-value select:focus,
.multiform-theme3 .multiform-gap-value .multiform-formula span:focus,
.multiform-theme3 .multiform-gap-value input[type="tel"]:focus {
   background-color: #ffffff;
}

.multiform-wrap.multiform-theme3 .errormsg,
.multiform-theme3 .multiform-mask-error {
   background-color: #ffffff;
}

.multiform-theme3 .mf-button {
   background-color: #009999;
}

.multiform-theme3 .mf-button:hover {
   background-color: #cc0033;
}

.multiform-theme3 .multiform-submit {
   background: none;
}

.multiform-theme3 .multiform-gap-name {
   background: none;
}

.multiform-theme3 .multiform-gap-description {
   background: none;
}

.multiform-theme3 .multiform-form-description {
   background: none;
}

.multiform-theme3 .multiform-gap-field {
   background: none;
}

.multiform-theme3 .multiform-gap-field:hover {
   background: none;
}

.multiform-body[data-theme-id='3'] {
   background: none;
}

.multiform-theme3 .multiform-title {
   background: none;
}

.multiform-theme3 .multiform-error-field,
.multiform-theme3 input.multiform-error-field,
.multiform-theme3 select.multiform-error-field {
   background-color: #ffcccc !important;
}

.multiform-wrap.multiform-theme3 {
   border-width: 3px;
   border-style: solid;
   border-color: #eae0d5;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.multiform-theme3 .multiform-gap-value input[type='text'],
.multiform-theme3 .multiform-gap-value textarea,
.multiform-theme3 .multiform-gap-value input[type='email'],
.multiform-theme3 .multiform-gap-value select,
.multiform-theme3 .multiform-gap-value .multiform-formula span,
.multiform-theme3 .multiform-gap-value input[type="tel"],
.multiform-theme3 .multiform-gap-value input[type="file"] {
   border-width: 1px;
   border-style: solid;
   border-color: #cfc0af;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.multiform-theme3 .multiform-gap-description {
   border: 0 none;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.multiform-theme3 .multiform-gap-field {
   border: 0 none;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.multiform-theme3 .multiform-gap-name {
   border: 0 none;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.multiform-wrap.multiform-theme3 .errormsg,
.multiform-theme3 .multiform-mask-error {
   border-width: 1px;
   border-style: solid;
   border-color: #ff0000;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.multiform-theme3 .multiform-gap-value input[type="text"]:focus,
.multiform-theme3 .multiform-gap-value textarea:focus,
.multiform-theme3 .multiform-gap-value input[type="email"]:focus,
.multiform-theme3 .multiform-gap-value select:focus,
.multiform-theme3 .multiform-gap-value input[type="tel"]:focus {
   border-width: 1px;
   border-style: solid;
   border-color: #99ccff;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.multiform-theme3 .mf-button {
   border: 0 none;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}

.multiform-theme3 .multiform-error-field,
.multiform-theme3 input.multiform-error-field,
.multiform-theme3 select.multiform-error-field {
   border-width: 1px !important;
   border-style: solid !important;
   border-color: #ff0000 !important;
   -webkit-border-radius: 0px !important;
   -moz-border-radius: 0px !important;
   border-radius: 0px !important;
}

.multiform-wrap.multiform-theme3 {
   -webkit-box-shadow: none;
   ;
   -moz-box-shadow: none;
   ;
   box-shadow: none;
   ;
}

.multiform-theme3 .multiform-gap-value input[type="text"]:focus,
.multiform-theme3 .multiform-gap-value textarea:focus,
.multiform-theme3 .multiform-gap-value input[type="email"]:focus,
.multiform-theme3 .multiform-gap-value select:focus,
.multiform-theme3 .multiform-gap-value input[type="tel"]:focus {
   -webkit-box-shadow: 0 0 5px 0 #99ccff;
   -moz-box-shadow: 0 0 5px 0 #99ccff;
   box-shadow: 0 0 5px 0 #99ccff;
}

.multiform-theme3 .mf-button {
   -webkit-box-shadow: none;
   ;
   -moz-box-shadow: none;
   ;
   box-shadow: none;
   ;
}

.multiform-wrap.multiform-theme3 .errormsg,
.multiform-theme3 .multiform-mask-error {
   -webkit-box-shadow: none;
   ;
   -moz-box-shadow: none;
   ;
   box-shadow: none;
   ;
}

.multiform-theme3 .multiform-gap-description {
   -webkit-box-shadow: none;
   ;
   -moz-box-shadow: none;
   ;
   box-shadow: none;
   ;
}

.multiform-theme3 .multiform-gap-name {
   -webkit-box-shadow: none;
   ;
   -moz-box-shadow: none;
   ;
   box-shadow: none;
   ;
}

.multiform-theme3 .multiform-gap-value input[type='text'],
.multiform-theme3 .multiform-gap-value textarea,
.multiform-theme3 .multiform-gap-value input[type='email'],
.multiform-theme3 .multiform-gap-value select,
.multiform-theme3 .multiform-gap-value .multiform-formula span,
.multiform-theme3 .multiform-gap-value input[type="tel"],
.multiform-theme3 .multiform-gap-value input[type="file"] {
   -webkit-box-shadow: none;
   ;
   -moz-box-shadow: none;
   ;
   box-shadow: none;
   ;
}

.multiform-theme3 .multiform-header3 {
   -webkit-box-shadow: none;
   ;
   -moz-box-shadow: none;
   ;
   box-shadow: none;
   ;
}

.multiform-wrap.multiform-theme3 {
   width: 100%;
   max-width: 465px;
   height: auto;
}

.multiform-theme3 .multiform-header {
   width: auto;
   height: 35px;
}

.multiform-theme3 .multiform-submit {
   width: auto;
   height: auto;
}

.multiform-theme3 .multiform-header {
   padding: 5px 5px 5px 10px;
}

.multiform-theme3 .multiform-gap-field {
   margin: 0px 0px 5px 0px;
   padding: 10px 0px 10px 0px;
}

.multiform-theme3 .multiform-gap-value input[type="text"],
.multiform-theme3 .multiform-gap-value textarea,
.multiform-theme3 .multiform-gap-value input[type="email"],
.multiform-theme3 .multiform-gap-value select,
.multiform-theme3 .multiform-gap-value .multiform-formula span,
.multiform-theme3 .multiform-gap-value input[type="tel"] {
   margin: 0px 0px 0px 0px;
   padding: 5px 7px 5px 7px;
}

.multiform-theme3 .multiform-gap-description {
   margin: 5px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}

.multiform-theme3 .multiform-gap-name {
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}

.multiform-wrap.multiform-theme3 .errormsg,
.multiform-theme3 .multiform-mask-error {
   margin: 10px 0px 5px 0px;
   padding: 5px 5px 5px 5px;
}

.multiform-theme3 .mf-button {
   margin: 0px 0px 0px 0px;
   padding: 2px 6px 2px 6px;
}

.multiform-theme3 .multiform-submit {
   margin: 0px 0px 0px 0px;
   padding: 10px 10px 10px 10px;
}

.multiform-theme3 .multiform-header {
   text-align: left;
}

.multiform-theme3 .multiform-title {
   text-align: center;
}

.multiform-theme3 .multiform-gap-name {
   text-align: left;
}

.multiform-theme3 .multiform-form-description {
   text-align: justify;
}

.multiform-theme3 .multiform-submit {
   text-align: left;
}

.multiform-theme3 .multiform-grid thead th,
.multiform-theme3 .multiform-grid thead td {
   background-color: #e6e6e6;
}

.multiform-theme3 .multiform-grid tbody tr.odd td,
.multiform-theme3 .multiform-grid tbody tr.odd th {
   background-color: #f5f5f5;
}

.multiform-theme3 .multiform-grid tbody tr.even td,
.multiform-theme3 .multiform-grid tbody tr.even th {
   background-color: #ffffff;
}

.multiform-theme3 .multiform-grid tbody tr:hover th,
.multiform-theme3 .multiform-grid tbody tr:hover td,
.multiform-theme3 .multiform-grid tbody tr.odd:hover td {
   background-color: #ffffcf;
}

.multiform-theme3 .multiform-rating:not(:checked)>label:hover,
.multiform-theme3 .multiform-rating:not(:checked)>label:hover~label,
.multiform-theme3 .multiform-rating .star-full {
   color: #ffd700;
}

.multiform-theme3 .irs-bar {
   background-color: #0f0;
}

.multiform-theme3 .irs-line {
   background-color: #e1e4e9;
}

.multiform-theme3 .multiform-gap-value .irs-handle>i:first-child {
   background-color: #0f0;
}

.multiform-theme3 .irs-from,
.multiform-theme3 .irs-to,
.multiform-theme3 .irs-single {
   color: #fff;
   background-color: #ed5565;
}

.multiform-theme3 .irs-single:before,
.multiform-theme3 .irs-from:before,
.multiform-theme3 .irs-to:before {
   border-top-color: #ed5565;
}

.multiform-theme3 .irs-min,
.multiform-theme3 .irs-max {
   color: #999;
   background-color: #e1e4e9;
}

.multiform-theme3 .irs-grid-pol {
   background-color: #e1e4e9;
}

.multiform-theme3 .irs-grid-text {
   color: #999;
}